{% extends 'base.html' %}

<html>
    <head>
        {% block head %}
        <title>Results</title>
        {%endblock %}
    </head>
    <body>
    {% block body %}


    <div class="container">
            <table class = "table">
                <caption>Switch information</caption>

        <thead>
         <tr>
         <th>IPAddress</th>
         <th>Serial</th>
         <th>Version</th>
         <th>Uptime</th>
      </tr>
      </thead>
        </table>


        <h1>{{addresses}}</h1>

        <ul>
        {% for address in addresses %}
            <li>{{serial}}</li>
        {% endfor %}
        </ul>

    {%endblock %}
    </div>
    </body>
</html>